<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/KingShoes_DB</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        
        <mapping class="entities.Category"/>
        <mapping class="entities.Customer"/>
        <mapping class="entities.ProductReview"/>
        <mapping class="entities.CustomerPoint"/>
        <mapping class="entities.Quote"/>
        <mapping class="entities.QuoteItem"/>
        <mapping class="entities.Product"/>
        <mapping class="entities.ProductImage"/>
        <mapping class="entities.RelatedProduct"/>
        <mapping class="entities.ShippingMethod"/>
        <mapping class="entities.PaymentMethod"/>
        <mapping class="entities.Order"/>
        <mapping class="entities.OrderItem"/>
        <mapping class="entities.ProductPoint"/>
        <mapping class="entities.User"/>
        <mapping class="entities.Role"/>
    </session-factory>
</hibernate-configuration>
