.reply--child {
    width: 100%;
    display: flex;
    float: left;
    align-items: start;
    padding-top: 10px;
}

.reply--child .information{
    width: 100%;
}

.reply--child .information .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reply--child form {
    width: 100%;
}

.media-body--review .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.media-body--review .title .tools{
    display: flex;
    align-items: center;
}

.media-body--review .title .tools a{
    margin-right: 5px;
}

.tool-comment {
    padding: 0;
}

.tool-comment .dropdown-toggle {
    color: #FFD333;
    outline: none;
    border: none;
    background: unset;
}

.tool-comment .dropdown-toggle::after {
    border: none;
    margin: 0;
    vertical-align: auto;
}